<footer>
  <ul id="ACfoot">
  <li><img src="../assets/images/cr.png" id="cr" alt=""></li>
  <li>WEBPAGE CREATED BY: JUSTIN KONGMANY</li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  </ul>


</footer>
