<!DOCTYPE html>

<html lang="en">

<!-- Navigation Bar Container -->
  <% include moduleviews/header.ejs %>

  <body>

<!-- Logo Container -->
    <a href="/"><img src =./assets/images/logo.png alt="This is the logo" id = "logo"></a>

<!-- Navigation Bar Container -->
<% include moduleviews/navigation.ejs %>

<!-- Content Container -->
<div class = "content">
  <div id = "home">
<h2> About Us</h2>
<p> CSU (Charlotte Smash Ulitmate) is a connection platform used to connect
players in the Charlotte area to create a better community around the game
Super Smash Bros. Ultimate. Community are able to make events to teach, compete,
or look for a friend to play with. Making connections is simple and easy, just
sign up for an account, add events you're interested in and create events for
the community to join.
 </p>
<p>Join CSU today, you won't regret it.</p>


</div>
</div>

<% include moduleviews/footer.ejs %>
    </body>

</html>
