<!DOCTYPE html>

<html lang="en">

<!-- Navigation Bar Container -->
  <%include moduleviews/header.ejs %>

  <body>

<!-- Logo Container -->
    <a href="/"><img src =./assets/images/logo.png alt="This is the logo" id = "logo"></a>

<!-- Navigation Bar Container -->
<% include moduleviews/navigation.ejs %>

<!-- Content Container -->
  <div class = "content">
    <div id = "home">
<h2> Contact Us</h2>
<p> For any questions or more information on connections please contact me at: </p>
<p> Email: JKONGMAN@UNCC.EDU </p>


</div>
</div>

<% include moduleviews/footer.ejs %>
    </body>

</html>
