<!DOCTYPE html>

<html lang="en">

<!-- Header Container -->
<% include moduleviews/header.ejs %>

  <body>

<!-- Logo Container -->
    <a href="/"><img src =./assets/images/logo.png alt="This is the logo" id = "logo"></a>

<!-- Navigation Bar Container -->
<% include moduleviews/navigation.ejs %>

<!-- Content Container -->
  <div class = "content">
<div id = "home">
    <h1>
    Welcome to Charlotte Smash Ultimate
  </h1>
  <p> Connect, Practice & Chat with fellow players in the local Charlotte Community.
  Learn and develelop your skills as a Smash Ultimate player to compete in local tournuments.
  Grow yourself as a player by making connections with local players in Charlotte.
  Compete in Local Charlotte Events such as UNCC LAN party hosted by the UNCC Esports Club or local events such as Stage 10 and Salty Suite.</p>
  <h3> Check out the Connections section to browse the local available connections! </h3>
</div>
</div>

<!-- Footer Container -->
<%- include moduleviews/footer.ejs %>
    </body>
</html>
