html {
  background-color: #222629;
  font-family: "Helvetica Neue", Helvetica, serif;
  color: white;
}

body{
  padding-bottom: 0;
  margin: 0;
}

a {
  color: white;
}
a:visited {
  color: white;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 120px;
  margin-top: 15px;
  margin-bottom: 15px;

}

/* Top Navigation Bar */
.topnav{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: right;
  height: 10%;
  background-color: lightgrey;
  float:right;
}

#topnavborder{
  border-left: 1px solid;
  border-right: 1px solid;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222629;
}

.topnav li {

display: inline-flex;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}



/* Left Naigation Bar Logo */
.leftnav{
float: left;
font-style: none;
width: 100%;
outline-style: solid;
outline-color: #474B4F;
}

.leftnav li {

display: inline-flex;
}

.leftnav ul li{
  list-style: none;
}

.leftnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #474B4F;
}

.leftnav li a{
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none

}

.leftnav a:hover {
  background-color: grey;
  color: white;
}

.leftnav a:visited {
  color: white;
}



/*Content*/
#home {
  text-align: center;
  font-size: 18pt;
}

.content{
color: white;
padding-left: 5%;
padding-top: 5%;
padding-right: 5%;
padding-bottom: 15%;

margin-left: auto;
margin-right: auto;
width: auto;
height: auto;
background-color: #222629;
font-size: 12pt;
}

/*Connections*/



/*Connection*/
.parts li{
  display: inline-block;
  padding-right: 10px;
}

#itempic{
  height: 300px;
  width: 350px;
  padding-right: 10px;
  float: left;
}

.ff{
  float: right;
  text-align: center;
  padding-right: 10%;
}

/*Text Sizing*/
i{
  font-size: 15pt;
}


/*Saved Connections*/
#saveditems {
  border-collapse: collapse;
  width: 100%;
}
#saveditems th {
  border-bottom: 1px solid;
}

#saveditems td, #saveditems th {
  padding: 8px;
}

#saveditems th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

/*Footer*/
footer {
padding-top: 5px;
padding-bottom: 40px;
text-align: left;
clear:both;
background-color: #6B6E70;
color: white;
}

#cr {
  width: 20px;
  height: 20px;
}

#ACfoot li{
display: inline;
float:left;
padding-right: 20px;
font-size: 12pt;

}

#ACfoot li a{
text-decoration: none;
padding: 8px 16px;

}

/* Forum New Connection */

.forumcontent forum {
  text-align: center;
}

input[type=text], input[type=submit], input[type=submit], input[type=date], input[type=password], input[type=email] {
  width: 50%;
  padding: 12px 25px;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
  padding: 12px 12px 12px 0;
  display: block;
}
